@use 'sass:color';
@use 'variables' as *;

@mixin elephant-dark-palette {
  --color-skin-1: #3a3a50;
  --color-skin-2: #67678e;
  --color-skin-3: #44445f;
  --color-outline: #21212c;
  --color-shadow: #181820;
  --color-highlight: #b2b1c8;
}

@mixin search-input {
  box-sizing: border-box;
  width: 100%;
  box-shadow: none;
  font-family: inherit;
  background: var(--input-background-color);
  color: $darker-text-color;
  border-radius: 4px;
  border: 1px solid var(--color-border-primary);
  font-size: 17px;
  line-height: normal;
  margin: 0;
  outline: var(--outline-focus-default);
  outline-color: transparent;
  outline-offset: -1px;
  transition: outline-color 0.15s ease-out;
}

@mixin search-popout {
  background: var(--color-bg-primary);
  border-radius: 4px;
  padding: 10px 14px;
  padding-bottom: 14px;
  margin-top: 10px;
  color: $light-text-color;
  box-shadow: 2px 4px 15px color.change($base-shadow-color, $alpha: 0.4);

  h4 {
    text-transform: uppercase;
    color: $light-text-color;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  li {
    padding: 4px 0;
  }

  ul {
    margin-bottom: 10px;
  }

  em {
    font-weight: 500;
    color: $inverted-text-color;
  }
}
