@font-face {
    font-family: 'IBM Plex Sans KR';
    src:
        local('IBM Plex Sans KR'), 
        url('../fonts/plexsans/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}