@use 'sass:color';

// Dependent colors
$black: #000;
$white: #fff;

$classic-base-color: #282c37;
$classic-primary-color: #9baec8;
$classic-secondary-color: #d9e1e8;
$classic-highlight-color: #db9935;

// Differences
$success-green: color.adjust(#3c754d, $lightness: 8%);

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #b0c0cf;
$ui-primary-color: #9bcbed;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: $classic-highlight-color !default;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$highlight-text-color: color.adjust(
  $ui-highlight-color,
  $lightness: -8%
) !default;
$dark-text-color: #444b5d;
$action-button-color: #606984;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #444b5d;

// Newly added colors
$account-background-color: $white !default;

// Invert darkened and lightened colors
@function darken($color, $amount) {
  @return color.adjust($color, $lightness: $amount);
}

@function lighten($color, $amount) {
  @return color.adjust($color, $lightness: -$amount);
}

$emojis-requiring-inversion: 'chains';

$font-sans-serif: 'MaruBuri Regular' !default;
$font-display: 'MaruBuri Regular' !default;
$font-monospace: 'Cascadia Code' !default;
